git+ssh://git@github.com/skalermo/ml4trade.git
pandas
# stable-baselines3 with gym>=0.22.0 support (see https://github.com/DLR-RM/stable-baselines3/pull/780)
# 75fd27e019aaf4dad612823b4544620df2c47844 is compatible with gym<0.26 (gym 0.26 - major api changes)
git+https://github.com/carlosluis/stable-baselines3@75fd27e019aaf4dad612823b4544620df2c47844
# stable-baselines3
hydra-core
hydra-joblib-launcher
quantstats
tensorboard
